@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background: linear-gradient(270deg, limegreen, blueviolet, cyan);
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 99vh;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#login-consent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-consent > button {
    width: 3rem;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    padding-top: 2rem;
    position: relative;
}

.searchBar {
    width: 20vw;
    border-radius: 15px;
    padding-left: 1rem;
    background: #2e363b;
    color: white;
}

.searchResults {
    position: absolute;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.searchResults:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.searchResults:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.track {
    color: white;
    background: linear-gradient(black, gray);
    padding: .55rem;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 4rem;
    width: 20rem;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track:hover {
    color: black;
    background: linear-gradient(gray, white);
    cursor: pointer;
    border-color: black;
}

.trackDetails {
    display: flex;
    gap: .5rem;
    margin-top: -1rem;
    font-size: 14px;
}

.albumName {
    font-style: italic;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
}

.visualizer {
    background: #2e363b;
    width: 50vw;
    height: 50vh;
}

.controlsContainer {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.prevTrack, .play, .nextTrack {
    background: black;
    border-radius: 50%;
    padding: 1rem;
}