@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(270deg, limegreen, blueviolet, cyan);
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 99vh;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#login-consent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-consent > button {
    width: 3rem;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.searchBar {
    width: 20vw;
    border-radius: 15px;
    padding-left: 1rem;
}

.visualizer {
    background: aliceblue;
    width: 50vw;
    height: 50vh;
}

.controlsContainer {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.prevTrack, .play, .nextTrack {
    background: black;
    border-radius: 50%;
    padding: 1rem;
}